body {
    background-color: lightgrey;
    height: 500px;
}

* {
    color:black;
}

h1 {
    text-align: center;
}

div {
    
    text-align: center;
}

button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
}