button {
    border-top: solid red;
    border-right: dotted green;
    border-bottom: dashed blue;
    border-left: double black;
}

div {
    padding: 50px;
    margin: 20px;
    border: 2px black;
    outline: 5px gray;
    letter-spacing: 1px;
    text-shadow: 2px white;
    opacity: 2px;
}

a {
    color: grey;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:focus {
    color: green;
}

ul {
    list-style-type: square;
}

thead {
    background-color: black;
    color: white;
}
table, td, thead {
    border: 1px solid black;
    border-collapse: collapse; 
}

tr.odd {
    background-color: #cccccc;
}

tr.even {
    background-color:white;
}

tr:hover {
    background-color: #888888;
}

div.bread {
    color: green;
}